@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #444;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie {
    max-width: 800px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
   overflow: hidden;
}

.movie__hero {
  flex: 0 0 30%;
}

.movie__img {
    width: 100%;
    display: block;
}

.movie__content {
    background-color: #fff;
    flex: 1;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.movie__price {
    background: linear-gradient(to top, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
    flex: 0 0 50px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heading__primary {
    font-size: 26px;
    margin-right: auto;
    color: royalblue;
}

.heading__secondary {
    font-size: 20px;
    color: grey;
    display: flex;
}

.movie__tag {
  font-size: 10px;
  color: #000;
  display: block;
  text-transform: uppercase;

}

.movie__description {
    font-size: 19px;
    text-align: justify;
}

.movie__details {
    display: flex;
    margin: auto;
}

.movie__detail {
   font-size: 15px;
   margin-right: 20px;
   display: flex;
   align-items: center;
}
